/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#body #header {
  display: flex;
  direction: rtl;
  height: 56px;
}
#body #header .nav {
  flex: 0 0 250px;
  background-color: #343a40;
  position: fixed;
  width: 250px;
  height: 56px;
  border-bottom: 1px solid #4b545c;
}
#body #header .header {
  width: calc(100% - 250px);
  position: absolute;
  left: 0;
  height: 56px;
  border-bottom: 1px solid #8ea3ac;
  display: flex;
  align-items: center;
}
#body #header .header div {
  padding: 10px 20px;
}
#body #header .header div :hover {
  background-color: #5bccff;
  color: #fff;
  border-radius: 3px;
}
#body #header .header div a {
  text-decoration: none;
}
#body .body {
  display: flex;
  direction: rtl;
  position: relative;
}
#body .body .nav {
  direction: rtl;
  flex: 0 0 250px;
  width: 250px;
  background-color: #343a40;
  height: calc(100vh - 5.4%);
  position: fixed;
  z-index: 10;
  overflow-y: auto;
  align-content: start;
}
#body .body .nav .info {
  display: flex;
  direction: rtl;
  border-bottom: 1px solid #4b545c;
  width: 100%;
  height: 63px;
}
#body .body .nav .info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin: 5px 15px;
}
#body .body .nav .info .full-name {
  padding: 5px 7px;
  direction: rtl;
  color: #c2c7d0;
  text-align: center;
  display: block;
  align-self: center;
  right: 80px;
  font-size: 22px;
  font-weight: bold;
}
#body .body .nav ul li {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 19px;
  margin: 15px 6px;
  align-content: start;
  white-space: nowrap;
  border-radius: 30px;
}
#body .body .nav ul li .icon {
  width: 20px;
  height: 20px;
  color: red;
}
#body .body .nav ul li .title {
  line-height: 1;
  padding-right: 11px;
  color: #c2c7d0;
  font-weight: 300;
  font-size: 19px;
  white-space: nowrap;
}
#body .body .content {
  position: absolute;
  width: calc(100% - 250px);
  left: 0;
}
#body .body .content .header {
  background-color: #f4f6f9;
  height: 63px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 31px;
}
#body .body .content .header .page-title {
  align-self: center;
  text-align: center;
}
#body .body .content .header .page-toolbar {
  align-self: center;
  margin-left: 20px;
}
#body .body .content .notice .alert {
  display: flex;
  justify-content: center;
  width: 100%;
}
#body .body .content .notice .alert-success {
  margin: 0;
}
#body .body .content #page {
  direction: rtl;
  box-sizing: border-box;
  background-color: #e9ebee;
}
#body .body .content #page .page-status {
  padding: 20px 48px;
}
#body .body .content #page .page-form {
  width: calc(100% - 50px);
}
#body .body .content #page .page-form .row {
  padding: 0;
  margin: 0;
}
#body .body .content #page .page-form .row .col-md-4 .form {
  margin-bottom: 30px;
  padding: 33px 30px 33px 30px;
  border-radius: 8px;
  background-color: #FFFFFF;
}
#body .body .content #page .page-form .row .col-md-8 .form {
  margin-bottom: 30px;
  padding: 33px 30px 33px 30px;
  border-radius: 8px;
  background-color: #FFFFFF;
}
#body .body .content #page .table-list {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: calc(100% - 61px);
  margin: 10px 29px 10px 10px;
  direction: ltr;
}
#body .body .content #page .table-list tr {
  margin-bottom: 10px;
  width: 100%;
}
#body .body .content #page .table-list tr td {
  margin: 0;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  vertical-align: middle;
}
#body .body .content #page .table-list tr td:nth-child(1) {
  border-radius: 8px 0 0 8px;
}
#body .body .content #page .table-list tr td:nth-last-child(1) {
  border-radius: 0 8px 8px 0;
}
#body .body .content #page .table-list tr td .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  margin: -23px 0;
  border: 2px solid #F1F7FC;
  display: inline-block;
}
#body .body .content #page .table-list tr td .operations {
  display: flex;
  flex-direction: row-reverse;
  direction: ltr;
  margin: -10px 0;
}
#body .body .content #page .table-list tr td .operations .btn {
  margin-left: 10px;
  padding: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#body .body .content #page .table-list tr td .operations .btn svg {
  width: 20px;
  height: 20px;
}
#body .body .content #page .table-list tr td .operations .btn svg * {
  fill: rgba(0, 0, 0, 0.4);
}
#body .body .content #page .table-list tr td .operations .btn:last-child {
  margin-left: 0;
}
#body .body .content #page .table-list tr.no-style td {
  padding: 0;
  background-color: transparent;
}
#body .body .content #page .paginate {
  width: 100%;
  display: inline-flex;
  margin-right: calc(100% - 186px);
}
#body .body .content #page .paginate nav.pagination.active {
  padding: 0;
}

.rtl {
  direction: rtl !important;
  text-align: right !important;
}

.ltr {
  direction: ltr !important;
  text-align: left !important;
}

.active-menu {
  background-color: #FF5A5F;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 22px;
}

.sidebar-active {
  padding-left: 10px;
  background-color: #8dc64099;
}

.actions {
  border-top: 1px solid rgba(115, 116, 121, 0.8);
  padding: 30px 0 40px 0;
  margin: 30px 30px 0 0;
  display: flex;
  flex-direction: row-reverse;
}
.actions .btn {
  margin-left: 10px;
  padding-right: 50px;
  padding-left: 50px;
}
.actions .invalid-feedback {
  position: absolute;
  bottom: -19px;
  direction: rtl;
  text-align: right;
}

.alert-delete {
  width: calc(100% - 77px);
  margin-right: 30px;
}

/*# sourceMappingURL=admin-layout.css.map */
